# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Azure ML
.amltmp/
.amlignore

# VS Code
.vscode/

# Logs and temp files
*.log
*.tmp
*.swp

# OS-specific files
.DS_Store
Thumbs.db
